body {
	background-image: url("../image/s1.jpg");
	background-size: 1598px 800px;
	backgound-repeat: no-repeat;
}

#heading {
	background-image: linear-gradient(to bottom right, #4169E1, #D3D3D3);
	height: 50px;
	margin: 40px;
	padding: 15px;
	padding-bottom: 30px;
	color: white;
	border-radius: 10px;
}

h1 {
	text-align: center;
}

#left {
	height: 230px;
	width: 450px;
	background-image: linear-gradient(to bottom right, #4169E1, #D3D3D3);
	position: left;
	margin-left: 40px;
	margin-top: 130px;
	border-radius: 10px;
	text-align: center;
	padding: 35px;
}

table {
	margin-left: 130px;
	border-spacing: 15px;
}

a {
	color: white;
	font-size: 18px;
}

a:hover {
	background-color: #D3D3D3;
	color: red;
	font-size: 20px;
}